<ion-header>
  <ion-navbar>
    <ion-title>Morfology: verbs</ion-title>
    <ion-buttons end>
      <button ion-button color="danger" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <h1 style= "text-align: center"> VĚDĚT</h1>

  <div *ngFor = "let sentence of sentences; index as sentenceIndex">
    <ion-item>
      <ion-label>{{sentence.beginning}}</ion-label>
      <ion-select [(ngModel)]="answers[sentenceIndex]" interface="popover" style="margin-right: 220px">
        <ion-option [value]="questionIndex" *ngFor = "let question of sentence.question; index as questionIndex">{{question}}</ion-option>
      </ion-select> 
    </ion-item>
    <h6 style="margin-left: 30px">{{sentence.end}}</h6>
  </div>
  <button ion-button (click)="checkCorrect()">TEST</button>
</ion-content>
